body              {padding:20px; font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif; }

h1,h2,h3,h4         {font-weight: bold; margin:2em 0 1em 0; page-break-after: avoid;}
h2                  {font-size:200%; margin-top:3em;}

table, figure     {page-break-inside: avoid;}

.panel            {max-width: 980px; margin:auto;}
.panel-title h1   {font-size: 120%;}

.accordion, .narrative                  {counter-reset: accordion;}
.accordion section, .narrative section  {padding-left: 2em; border-left: 2px solid #BBB; position: relative; margin-left: 1em; margin-top: -1.9rem; padding-bottom: 1rem;}
.accordion section header::before,
.narrative section header::before       {counter-increment: accordion; content: counter(accordion);  position:absolute; border-radius: 50%; background: #BBB; left: -1em; min-width: 2em; min-height: 2em; line-height: 2em; text-align: center; color: #fff; font-weight: bold;}

.openTextInput                      {position:relative; border:1px dashed #BBB; padding: 1em; margin-top: 0.5em; font-style: italic; padding-top: 4em; color: #999;}
.openTextInput a                    {color: #666;}
.openTextInput::before              {display: block; content: "✎"; font-size: 150%;  position:absolute; border-radius: 50%; right: 1rem; top: 1rem; min-width: 2em; min-height: 2em; line-height: 2em; text-align: center; color:#BBB; border:1px solid #BBB; }


.slider                             {display: flex; margin-top: 1em; gap: 0.5em;}
.slider > span:nth-child(2)         {border-bottom: 2px dotted #BBB; color:transparent; flex-grow: 2;}

.qa-container                       {display: flex; gap:1em; margin-top:2em;}
.qa-container hr                    {display: none;}
.qa-container .question             {width:30%; min-height: 3em;}
.qa-container .matching div         {border-bottom:1px solid #BBB; margin-bottom: 2em; padding-bottom: 2em;}
.qa-container .answer               {flex-grow: 2;}
.qa-container .answer ul            {margin:0; list-style-position: inside;}

/*@media print    {

    .openTextInput::before          {display: none;}
}*/